.heading {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.Extraction{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-color:#ccc;
  margin:20px;
  font-size: 25px;
  
}
.Extraction 2{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-color: #ccc;
  margin:20px;
  font-size: 25px;
  font-family: comic sans MS, cursive;

}
.Elemental{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-color:#ccc;
  margin:20px;
  font-size: 25px;
}
.spiderman{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.creed{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.monkeyking{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.meg{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
  
}
.puss{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-color:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.Antman{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.barbie{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
.maurice{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
{
  border:solid 2px #555;
  width: 90%;
  text-align:center;
  background-colour:red;
  margin:20px;
  font-size: 25px;
}
img{
  width: 100%;
}
#searchResults a {
            text-decoration: none; /* Remove underline */
            color: #0077cc; /* Change link color */
            font-weight: bold; /* Make the links bold */
            margin-right: 10px; /* Add some spacing between links */
        }
.search{
  width:80%;
  height: 20px;
}
html{
  text-align: center;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}